.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}
.contact-mid{
    margin: auto;
    // text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
}
  
  