<div id="site-content">
  <app-nav-bar></app-nav-bar>
  <main class="main-content">
    <div class="container">
      <div class="page">
        <div class="breadcrumbs">
          <a routerLink="/home">Home</a>
          <span>Movies</span>
        </div>

        <div
          class="content"
          style="height: 100vh; display: flex; justify-content: center"
        >
          <div class="row" style="width: 85%">
            <mat-toolbar color="primary">
              <button mat-icon-button (click)="getAllMovies()">
                <mat-icon>refresh</mat-icon>
              </button>
              <button mat-icon-button color="weith" (click)="createNewMovie()">
                <mat-icon>add</mat-icon>
              </button>
              <!-- <mat-form-field appearance="standard" [hidden]="Filter">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>-->
            </mat-toolbar>

            <div class="mat-elevation-z8">
              <table
                id="excel-table"
                mat-table
                [dataSource]="Datasource"
                matSort
              >
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef>Movie Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>

                <ng-container matColumnDef="Photo">
                  <th mat-header-cell *matHeaderCellDef>Poster</th>
                  <td mat-cell *matCellDef="let row">
                    <img
                      style="width: 70px; height: 57px"
                      src="https://localhost:44385/{{ row.photoData }}"
                    />
                  </td>
                </ng-container>

                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.description | slice: 0:50 }}.......
                  </td>
                </ng-container>

                <ng-container matColumnDef="Halls">
                  <th mat-header-cell *matHeaderCellDef>Halls</th>
                  <td mat-cell *matCellDef="let row" style="text-align: start">
                    {{ row.halls.name }}
                  </td>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="Actions">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-cell
                      style="margin-top: 10px"
                      *matCellDef="let row; let i = index"
                      class="my-auto"
                    >
                      <button mat-icon-button color="accent">
                        <mat-icon
                          aria-label="Edit"
                          (click)="
                            startEdit(
                              row.id,
                              row.name,
                              row.photoData,
                              row.traileUrl,
                              row.description,
                              row.halls.id,
                              row.isVisibale
                            )
                          "
                          >edit
                        </mat-icon>
                      </button>

                      <button mat-icon-button color="accent">
                        <mat-icon
                          aria-label="Delete"
                          (click)="
                            deleteItem(
                              row.id,
                              row.name,
                              row.photoData,
                              row.halls.name,
                              row.description,
                              row.idHalls
                            )
                          "
                          >delete</mat-icon
                        >
                      </button>
                    </mat-cell>
                  </mat-header-cell>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>

                <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page of users"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .container -->
  </main>
</div>
