<div id="site-content">
  <app-nav-bar></app-nav-bar>
  <main class="main-content">
    <div class="container">
      <div class="page">
        <div class="breadcrumbs">
          <a routerLink="/home">Home</a>
          <span>About </span>
        </div>
        <div class="anuth">
          <h1><b>About Us</b></h1>
          <div class="row sec-one-cont">
            <div class="col-md-6">
              <figure>
                <img
                  class="first-img"
                  src="https://images.pexels.com/photos/8273631/pexels-photo-8273631.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt="figure image"
                />
              </figure>
            </div>
            <div class="col-md-6">
              <h1 class="leading">Cinema Websites Made Simple</h1>
              <hr class="not-the-same" />
              <p>
                YOUR CINEMA combines simplicity with modern design to create
                stunning websites for cinemas. Our approach keeps you up-to-date
                with online trends, device optimization and moviegoer
                expectations, while taking the hard work out of managing your
                website. YOUR CINEMA is used by over 170 cinemas in 16
                countries.Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium totam.
                <br />
                <br />
                YOUR CINEMA sites are focused on usability, and the shortest
                path to finding times and selling tickets. It is the result of
                extensive research and 13 years of cinema/website experience.
                <br />
                <br />
                With Your Cinema Pages, you can create any kind of additional
                page to your site. You can embed things like a map...
              </p>
            </div>
          </div>

          <h1 class="section-title">Our Team</h1>
          <hr />
          <div class="row">
            <div class="col-md-3">
              <div class="team">
                <figure class="team-image">
                  <img
                    src="https://images.pexels.com/photos/1024311/pexels-photo-1024311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </figure>
                <h2 class="team-name">Sarah Stuart</h2>
                <small class="team-title">Co-founder</small>
                <div class="social-links">
                  <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="" class="google-plus"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                  <a href="" class="pinterest"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team">
                <figure class="team-image">
                  <img
                    src="https://images.pexels.com/photos/532220/pexels-photo-532220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </figure>
                <h2 class="team-name">John Doe</h2>
                <small class="team-title">Managing Director</small>
                <div class="social-links">
                  <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="" class="google-plus"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                  <a href="" class="pinterest"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team">
                <figure class="team-image">
                  <img
                    src="https://images.pexels.com/photos/1130626/pexels-photo-1130626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt=""
                  />
                </figure>
                <h2 class="team-name">Jessica Branson</h2>
                <small class="team-title">Reviewer</small>
                <div class="social-links">
                  <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="" class="google-plus"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                  <a href="" class="pinterest"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team">
                <figure class="team-image">
                  <img
                    src="https://images.pexels.com/photos/1043474/pexels-photo-1043474.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                  />
                </figure>
                <h2 class="team-name">Sarah Stuart</h2>
                <small class="team-title">Consultant</small>
                <div class="social-links">
                  <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="" class="google-plus"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                  <a href="" class="pinterest"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- .container -->
  </main>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">About Us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
              tempore vitae mollitia nesciunt saepe cupiditate
            </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Recent Review</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Help Center</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Join Us</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Social Media</h3>
            <ul class="no-bullet">
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Google+</li>
              <li>Pinterest</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Newsletter</h3>
            <form action="#" class="subscribe-form">
              <input type="text" placeholder="Email Address" />
            </form>
          </div>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </footer>
</div>
<!-- Default snippet for navigation -->
